<!DOCTYPE HTML>
<html>
<header th:replace="fragments/head.html :: head" >
</header>
<body>
	<div id="container" class="content pure-g" >
		<header th:replace="fragments/header.html :: header" >
		</header>
		<div id="mainBody" class="pure-u pure-g column">
			<div id="content" class="pure-u-1">
				<div class="pad">
				    <div data-th-if="${deleted}" class="message-box-info">
						Deleted successfully
				    </div>
					<table class="fullWidth pure-table pure-table-horizontal">
						<thead>
							<tr>
								<th>Id</th>
								<th>Name</th>
								<th>Gender</th>
							</tr>
						</thead>
						<tbody>	
							<tr data-th-each="pet : ${pets}">
								<td> <a data-th-href="@{/pets/{id}(id=${pet.id})}" data-th-text="${pet.id}">...</a></td>
								<td data-th-text="${pet.name}">...</td>
								<td data-th-text="${pet.gender}">...</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
    </div>
</body>
</html>

