<!DOCTYPE HTML>
<html>
<header th:replace="fragments/head.html :: head" >
</header>
<body>
	<div id="container" class="content pure-g" >
		<header th:replace="fragments/header.html :: header" >
		</header>
		<div id="mainBody" class="pure-u pure-g column">
			<div id="content" class="pure-u-1">
				<div class="pad">
					Welcome to the spring app tutorial.
					<br>
					From this app, you should be able to:
					<ul>
						<li> Add client and edit their info </li>
						<li> Add pets for a client </li>
						<li> Update a client's or a pet's info</li>
					</ul>
									
				</div>
			</div>
		</div>
    </div>
</body>
</html>




